.Face {
  position: absolute;
}

.Face img {
  transform: rotateY(90deg);
}

.Face img.active {
  transform: rotateY(0deg);
}

.Face img.flipping-left {
  animation: flipping-left infinite ease-in-out;
}

.Face img.flipping-right {
  animation: flipping-right infinite ease-in-out;
}

@keyframes flipping-left {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(-90deg);
  }
}

@keyframes flipping-right {
  from {
    transform: rotateY(-90deg);
  }
  to {
    transform: rotateY(90deg);
  }
}
