.Face {
    position: absolute;
}

.Face img {
    transform: scaleX(0.0);
}

.Face img.active {
    transform: scaleX(1.0);
    transition: transform 0.5s ease-in;
}

.Face img.flipping {
    animation: flipping infinite ease-in-out;
}

@keyframes flipping {
    0% {
        transform: scaleX(0.0);
    }
    50% {
        transform: scaleX(1.0);
    }
    100% {
        transform: scaleX(0.0);
    }
}