.Face {
  position: absolute;
}

:root {
  --total-rotation: 360deg;
}

.Face img {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.Face img.flipping:not(.active) {
  animation: flipping-inactive 3s ease-out forwards;
}

.Face img.flipping.active {
  animation: flipping-active 3s ease-out forwards;
}

@keyframes flipping-active {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(var(--total-rotation));
  }
}

@keyframes flipping-inactive {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(calc(var(--total-rotation) + 180deg));
  }
}
